{% extends 'base.html' %} {% load static %} {% block content %}

<!-- /////////////////////////////////////////Content -->
<div id="page-content">

    <!-- ////////////Content Box -->
    <section class="box-content">
        <div class="container">
            <div class="post pt-5 pb-5 ">
                <div class="post pb-5 ">
                    <h2 class="entry-title about-color"><i class="fas fa-paperclip fa-1x"></i> تعرّف علينا </h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 ">
                        <img src="{% static 'images/pages_app/about2.jpg' %}" class="img-responsive" alt="About">
                    </div>
                    <div class="col-md-8 col-sm-12 ">
                        <p>
                            المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون، ويطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني. وهى مهنة قائمة على تقديم المساعدة للأشخاص الطبيعيين والاعتباريين في اقتضاء حقوقهم والمعاونة في العمل
                            وفقا للقوانين الشرعية المتبعة في كافة المجالات والدفاع عن حقوق الآخرين والتوعية القانونية للمواطنين بحقوقهم وواجباتهم. " </p>
                    </div>
                </div>
                <p>
                    المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون، ويطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني. وهى مهنة قائمة على تقديم المساعدة للأشخاص الطبيعيين والاعتباريين في اقتضاء حقوقهم والمعاونة في العمل
                    وفقا للقوانين الشرعية المتبعة في كافة المجالات والدفاع عن حقوق الآخرين والتوعية القانونية للمواطنين بحقوقهم وواجباتهم. إن المحاماة مهنة كتمان السر والشرف فلا يحق لمن يعمل بها أن يفشي أسرار عملاؤه، فقد وثقوا به ووضعوا ثقتهم فيهِ، ويحكم
                    ممارسة مهنة المحاماة القانون. ولهذا لا يستطيع ان يُنكر أحد أن المحاماة لازمة من لزوميات العدالة، وضرورة من ضرورات تحقيقها، والعدالة كل كامل لا يتجزأ ولا يتقطع وإلا انهار وانعدم . "
                </p>
                <blockquote>
                    <p>المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون،</p>
                </blockquote>
                <p>
                    يطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني. وهى مهنة قائمة على تقديم المساعدة للأشخاص الطبيعيين والاعتباريين في اقتضاء حقوقهم والمعاونة في العمل وفقا للقوانين الشرعية المتبعة في كافة المجالات والدفاع عن حقوق الآخرين والتوعية القانونية للمواطنين
                    بحقوقهم وواجباتهم. إن المحاماة مهنة كتمان السر والشرف فلا يحق لمن يعمل بها أن يفشي أسرار عملاؤه، فقد وثقوا به ووضعوا ثقتهم فيهِ
                </p>
                <h2 class="about-color"><i class="fas fa-paperclip"></i> سيرة ذاتية</h2>
                <p>
                    المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون، ويطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني.
                </p>
                <h2 class="about-color"><i class="fas fa-paperclip"></i> مبادئنا</h2>
                <p>
                    المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون، ويطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني.
                </p>
                <h2 class="about-color"><i class="fas fa-paperclip"></i> عملائنا</h2>
                <p>
                    المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون، ويطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني.
                </p>
                <p>
                    المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون، المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون،ي.
                </p>
                <p class="about-color">
                    <strong>
                 يطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني
                </strong>
                </p>
                <p>
                    يطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني. وهى مهنة قائمة على تقديم المساعدة للأشخاص الطبيعيين والاعتباريين في اقتضاء حقوقهم والمعاونة في العمل وفقا للقوانين الشرعية المتبعة في كافة المجالات والدفاع عن حقوق الآخرين والتوعية القانونية للمواطنين
                    بحقوقهم وواجباتهم. إن المحاماة مهنة كتمان السر والشرف فلا يحق لمن يعمل بها أن يفشي أسرار عملاؤه، فقد وثقوا به ووضعوا ثقتهم فيهِ
                </p>
                <div class="note">
                    <ol>
                        <li>يطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني</li>
                        <li>يطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني</li>
                        <li>يطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني</li>
                    </ol>
                    <div class="clear"></div>
                </div>
                <p>
                    المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون، ويطلق على من يمارس مهنة المحاماة محامي أو مستشار قانوني. وهى مهنة قائمة على تقديم المساعدة للأشخاص الطبيعيين والاعتباريين في اقتضاء حقوقهم والمعاونة في العمل
                    وفقا للقوانين الشرعية المتبعة في كافة المجالات والدفاع عن حقوق الآخرين والتوعية القانونية للمواطنين بحقوقهم وواجباتهم. "
                </p>
                <p>
                    المحاماة مهنة حرة تشارك السلطة القضائية في استظهار الحقائق لتحقيق العدل وتأكيد سيادة القانون،
                </p>
            </div>
        </div>
    </section>

</div>
{% endblock %}