{% extends 'base.html' %} {% block content %}{% load crispy_forms_tags %}

<!--messges start -->
<section id="messages">
    <div class="container">
        {% if messages %} {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>
            <strong>{{ message }}</strong>
        </div> {% endfor %} {% endif %}
    </div>
</section>
<!-- messages end -->




<section>
    <div class="container">

        <div class="post pb-5 mt-5 ">
            <h4 class="entry-title about-color"><i class="fas fa-mail-bulk"></i> إتصل بنا </h4>
        </div>



        <div class="col-md-6">
            <form method="POST" class="form-group">
                {%csrf_token %} {{form|crispy}}
                <div><button type="submit">إرسل</button></div>
            </form>
        </div>

        <div class="col-md-6" style='padding:70px;'>
            <p><strong>معلومات الإتصال</strong></p>
            <!-- <span>SED UT PERSPICIATIS UNDE OMNIS ISTE NATUS ERROR SIT VOLUPTATEM ACCUSANTIUM DOLOREMQUE LAUDANTIUM, TOTAM REM APERIAM.</span><br> <br> -->
            <p>الرياض \ شارع رقم عشرين <br> عمارة رقم 12
            </p>
            <p>+966 11111 <br> +966 22222</p>
            <p>info@lawyer.com</p>
        </div>

    </div>
</section>

<br><br> {% endblock %}